@{
    ViewData["Title"] = "About";
}
<h2>O nas...</h2>

<p>Gospodarstwo agroturystyczne "SIEDLISKO" -  położone jest na jednym ze stoków malowniczej Brennej, która szczyci się wspaniałym, czystym mikroklimatem.</p>

<p>Piękne okolice Brennej oraz liczne szlaki turystyczne zachęcają do uprawiania różnego rodzaju turystyki - górskich wędrówek, spacerów, przejażdżek konnych i rowerowych, a zimą sportów zimowych.</p>

<p>Oferujemy domki 4-osobowe, z łazienkami oraz aneksem kuchennym.</p>
