@{
    ViewData["Title"] = "Contact";
}
<h3>Dane kontaktowe</h3>

<address>
    Ulica 0, 11-222 Miasto<br />
    <abbr title="Phone">tel:</abbr>
    123456789
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">przykladowyEmail@domena.pl</a><br />
</address>
